<section class="section">
    <div class="container">
        <div class="section__wrapper">
            <div class="section__content">
                <h2 class="section__title">Header Footer</h2>
                <p class="section__text">
                    3Duis ultricies lacus sed turpis tincidunt id aliquet risus. Bibendum est ultricies integer quis auctor.
                </p>
                <div class="decor">
                    <div class="decor__item"></div>
                    <div class="decor__item"></div>
                    <div class="decor__item"></div>
                </div>
            </div>
            <div class="section__wrapper-img">
                <img class="section__img" src="../../assets/free-images.jpg" alt="img">
            </div>
        </div>
    </div>
</section>
