<footer class="footer">
    <div class="container">
        <div class="footer__content">
            <div class="footer__item">
                <h3 class="footer__title">Block header</h3>
                <ul class="list">
                    <li class="list__item"><a href="#" class="list__link">Lorem ipsum</a></li>
                    <li class="list__item"><a href="#" class="list__link">Lorem ipsum</a></li>
                    <li class="list__item"><a href="#" class="list__link">Lorem ipsum</a></li>
                </ul>
            </div>
            <div class="footer__item">
                <h3 class="footer__title">Block header</h3>
                <ul class="list">
                    <li class="list__item"><a href="#" class="list__link">Lorem ipsum</a></li>
                    <li class="list__item"><a href="#" class="list__link">Lorem ipsum</a></li>
                    <li class="list__item"><a href="#" class="list__link">Lorem ipsum</a></li>
                </ul>
            </div>
            <div class="footer__item">
                <h3 class="footer__title">Block header</h3>
                <ul class="list">
                    <li class="list__item"><a href="#" class="list__link">Lorem ipsum</a></li>
                    <li class="list__item"><a href="#" class="list__link">Lorem ipsum</a></li>
                    <li class="list__item"><a href="#" class="list__link">Lorem ipsum</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
